<div class="card cards-margins">
  <div class="card-header">
    <div class="row margin-title-car">
        <img class="card-img-top image-size" src="assets/img/logo.jpg">
        <h5 class="card-title">Reloff</h5>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Informacion en forma de Grafica</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary btn-user">Go somewhere</a>
  </div>
</div>
